#games {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-bottom: 5vh;
    padding-top: 6vh;
}

.game {
    margin-right: 4vw;
    margin-bottom: 5vh;
    width: 17vw;
    height: 19vh;
    max-height: 11vw;
    max-width: 44vh;
    cursor: pointer;
}

#games tr td:last-child button {
    margin-right: 0;
}

#games tr:last-child td button {
    margin-bottom: 0;
}