.game{
    transition: all 100ms linear;
    position: relative;
    box-shadow: inset 0 4px 6px -1px rgb(0 0 0 / 0.1), 
    0 2px 4px -2px rgb(0 0 0 / 0.1);

    background: #33b8ab;
    background: linear-gradient(90deg, rgba(51, 184, 171, 1) 0%, rgba(39, 145, 83, 1) 100%);
    color:orangered;
}

.game:active {
    box-shadow: inset 0 0 0 4px #043b3f6b;
}

.game::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    border-radius: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out;
    opacity: 0;
    animation: flash 100ms ease-in-out;
    transform: scaleX(1.4) scaleY(1.4);
}

.game:hover::before {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
}

@keyframes flash {
    0%{
        opacity: 0.8;
        transform: translate(20px);
    }
    100%{
        opacity: 0;
        transform: translate(0);
    }
}

