#games {
    /* border-spacing: 5vw; */
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 8vh;
}
.game {   
    margin-right: 4vw;
    margin-bottom: 5vh;
    width: 17vw;
    height: 15vh;
    max-height: 10vw;
    max-width: 30vh;
    cursor: pointer;
    border-radius: 1vw;
}

#games tr td:last-child button { margin-right: 0; }
#games tr:last-child td button { margin-bottom: 0; }